{{> header}}
<main>
    <h1>My Library</h1>
    <h2>You have read {{bookCount}} books!</h2>
    {{#if library.length}}
        <ul>
            {{#each library}}
                <li>
                    <p>{{this.title}}</p>
                    <p>by {{this.authors}}</p>
                    <img src = "{{this.thumbnail}}" alt="cover" />
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>You haven't added any books to your library yet! <a href="/search">Search</a> for your latest read to get started.</p>   
    {{/if}}
</main>
{{> footer}}