{{> header}}
<main>
    <div class="form-box">
        <h1>What book have you finished reading?</h1>
        <p>Search for it here and add it to your library!</p>
        {{!search form}}
        <form action="/bookSearch" method="GET">
        <label for="userSearch">Search by title or author:</label>
        <input type="text" name="query" id="userSearch" placeholder="Search...">
        <button class="btn">Search</button>
        </form>
    </div>
    <div id= "message"></div>

    {{!display search results}}
    {{#if error}}
        <p>{{error}}</p>
    {{/if}}
    {{#if searchQuery}}
        {{#if books}}
            <div class="books">
                {{#each books}}
                    <div class="book-results">
                        <img src="{{this.thumbnail}}" alt="cover">
                        <h3>{{this.title}}</h3>
                        <p>by: {{this.authors}}</p>
                        <button class="add-book" data-book-id="{{this.id}}" data-title="{{this.title}}" data-authors="{{json this.authors}}" data-thumbnail="{{this.thumbnail}}">Add to Library</button> 
                    </div>
                {{/each}}
            </div>
        {{else}}
            <p>Can't find you're book. Please try again!</p>   
        {{/if}}
    {{/if}}    
</main>