{{> header}}
<main>
    <h1>What book have you finished reading? Search for it here and add it to your library!</h1>
    {{!search form}}
    <form action="/bookSearch" method="GET">
        <label for="userSearch">Search by title or author:</label>
        <input type="text" name="query" id="userSearch" placeholder="Search...">
        <button class="btn">Search</button>
    </form>
    {{!display search results}}
    {{#if error}}
        <p>{{error}}</p>
    {{/if}}
    {{#if searchQuery}}
        {{#if books}}
            <ul>
                {{#each books}}
                    <li>
                        <p>{{this.title}}</p>
                        <p>{{this.authors}}</p>
                        <img src="{{this.thumbnail}}" alt="cover">
                        <button class="add-book" data-book-id="{{this.id}}" data-title="{{this.title}}" data-author="{{this.authors}}">Add to Library</button> 
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>Can't find you're book. Please try again!</p>   
        {{/if}}
    {{/if}}    
</main>
{{> footer}}